* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fffef2;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    opacity: 1;
    color: white;
    z-index: 10;
}

.back-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.back-button a {
    text-decoration: none;
    color: inherit;
}

.user-icon {
    margin-right: 20px;
    font-size: 24px;
}

.logo {
    margin: 1060px 0 20px;
}

.logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 20%;
}

.form-container {
    background: white;
    width: 350px;
    padding: 20px;
    border: 2px solid #30884B;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons .btn {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background-color: #30884B;
    border: none;
    cursor: pointer;
}

.buttons .btn:hover {
    background-color: #555;
}
