/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fffef2;
    display: flex;
    flex-direction: column; /* Para organizar la navbar y el contenido en columna */
    align-items: center;
}

/* Navbar styles */
.navbar {
    position: fixed; /* Hace que la barra quede fija */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    opacity: 1;
    z-index: 10; /* Asegura que esté sobre el contenido */
}

.back-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.user-icon {
    margin-right: 20px;
    color: #fff;
    font-size: 24px;
}

/* Container styles */
.container {
    margin-top: 200px; /* Añade espacio para evitar que el contenido quede detrás de la navbar */
    width: 360px;
    overflow: hidden;
}

/* Main content styles */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 37px;
    text-align: center;
}

.logo {
    border-radius: 40%;
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}

.start-button .link{
    color: #fff;
    text-decoration: none;
}

.start-button {
    background-color: #30884B;
    color: #30884B;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.start-button:hover {
    background-color: #30884B;
}
